/* Réinitialisation des styles de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles globaux */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0077b6;
    /* Fond bleu */
    color: #006266;
    /* Couleur de texte standard */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.no-bullets {
    list-style-type: none;
    /* Supprime les puces */
    padding: 0;
    /* Supprime l'indentation par défaut */
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 0.5em;
    color: #3f51b5;
}

h2 {
    margin-bottom: 1em;
    color: #3f51b5;
}

/* Styles pour les boutons */
.button-container {
    margin: 2em 0;
    right: 20%;
}

.btn {
    background-color: #ff7043;
    /* Couleur orange */
    color: #210202;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    /* Bords arrondis */
    text-decoration: none;
    /* Enlève le soulignement des liens */
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    right: 20%;
}

.btn:hover {
    background-color: #ff5722;
    /* Orange plus foncé au survol */
    transform: scale(1.05);
    /* Légère augmentation de la taille au survol */
}

/* Styles pour l'encart du message de bienvenue */
.welcome-container {
    background-color: white;
    /* Fond blanc */
    padding: 20px;
    /* Espacement intérieur */
    margin: 20px 0;
    /* Espacement extérieur */
    border-radius: 10px;
    /* Bords arrondis */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* Ombre subtile */
    position: relative;
    /* Nécessaire pour la position du contour lumineux */
    animation: blinking-border 1.5s infinite;
}

/* Animation du contour lumineux */
@keyframes blinking-border {
    0% {
        box-shadow: 0 0 10px 2px #ffffff;
    }

    50% {
        box-shadow: 0 0 20px 3px #abcdef;
    }

    100% {
        box-shadow: 0 0 10px 2px #ffffff;
    }
}

.encart-lumineux {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
    transition: transform 0.3s ease;
    /* Transition pour l'effet de zoom */
    cursor: pointer;
}

.encart-lumineux:hover {
    transform: scale(1.05);
    /* Zoom au survol */
}

.error_message {
    background-color: #f8d7da;
    /* Couleur de fond rouge pâle */
    color: #721c24;
    /* Couleur de texte rouge foncé */
    border: 1px solid #f5c6cb;
    /* Bordure rouge */
    padding: 10px 20px;
    /* Espacement intérieur */
    border-radius: 5px;
    /* Coins arrondis */
    margin-bottom: 10px;
    /* Marge inférieure pour l'espacement */
}

/* Style pour le bouton d'attestation */
.btn-zoom.welcome-container {
    background-color: white;
    color: #0077b6;
    /* Couleur de texte pro */
    border: 2px solid #0077b6;
    /* Bordure pro */
    padding: 15px 30px;
    border-radius: 10px;
    /* Bords arrondis */
    font-weight: bold;
    position: absolute;
    right: 10%;
    /* À droite de l'écran */
    bottom: 40%;
    /* À environ 30% de la hauteur de l'écran en partant du bas */
    transition: transform 0.3s ease, border 0.3s ease, color 0.3s ease;
}

.btn-zoom.welcome-container:hover {
    transform: scale(1.1);
    /* Légère augmentation de la taille au survol */
    border-color: #ff7043;
    /* Bordure punch au survol */
    color: #ff7043;
    /* Couleur de texte punch au survol */
}
/* Style pour le message de bienvenue */
.hello {
    text-align: center;
    font-size: 16px;
    /* Ajustez la taille du texte selon vos préférences */
    color: #0077b6;
    /* Couleur de texte pro */
    margin-top: 10px;
    /* Décalage vers le haut pour éviter de chevaucher le bouton */
    
}