/* Réinitialisation des styles de base */
body,
h1,
h2,
p,
button,
input,
label {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles globaux - Pro */
body {
  font-family: Arial, sans-serif;
  background-color: #006266;
  /* Couleur de fond pro, un bleu profond */
  color: white;
  /* Couleur du texte pro */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

/* Styles pour le bouton Connexion - Classe */
button {
  background-color: #acb1cb;
  /* Couleur de fond pour le bouton Connexion, un bleu classe */
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin: 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #303f9f;
  /* Couleur de fond au survol du bouton Connexion, un bleu plus foncé */
}

/* Styles pour les formulaires - Design */
form {
  width: 80%;
  margin: 20px auto;
  background-color: #f8d7da;
  /* Couleur de fond pour le formulaire, un rouge pâle design */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"],
input[type="id_user"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ff7043;
  /* Couleur de la bordure pour les champs de saisie, un orange punch */
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #ff6b6b;
  /* Couleur de fond pour le bouton de soumission, un rouge pâle punch */
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin: 10px 0;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #ff5722;
  /* Couleur de fond au survol du bouton de soumission, un rouge plus foncé punch */
}

/* Style pour le message d'erreur - Design */
.error_message {
  background-color: #795548;
  /* Couleur de fond pour le message d'erreur, un marron design */
  color: white;
  /* Couleur du texte blanc */
  border: 1px solid #5d4037;
  /* Couleur de la bordure du message d'erreur, un marron plus foncé */
  padding: 10px 20px;
  /* Espacement intérieur */
  border-radius: 4px;
  /* Coins arrondis */
  margin: 10px 0;
  /* Marge supérieure et inférieure pour l'espacement */
}

/* Styles pour les médias mobiles */
@media only screen and (max-width: 768px) {
  form {
    width: 90%;
  }
}

@media only screen and (max-width: 480px) {
  form {
    width: 95%;
  }
}

@media only screen and (max-width: 320px) {
  form {
    width: 100%;
  }
}

/* Autres styles inchangés */